<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Справочники:
    <a href="dic-ets">Вид РЭС</a><br/>
    <a href="dic-etstype">Наименования РЭС</a> (большой перечень ~17 000 шт)<br/>
    <a href="dic-rsnparts">Список территориальных управлений</a><br/>
    <a href="dic-sectortype">Типы антен</a><br/>
    <a href="dic-polartype">Виды поляризации</a><br/>
    <a href="dic-radclass">Классы излучений</a><br/>
<a href="index">Все справочники</a> (Загрузка стсраницы несколько минут!)
<br/>
<h2>Регистрация радиоэлектронного средства (РЭС)</h2><br/>
<a href="registration">Заполнить форму</a>

</body>
</html>